<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.commons.db.mybatis.mapper.base.pagehelper.test.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.example.commons.db.mybatis.mapper.base.pagehelper.test.pojo.SysUser">
    <!--@mbg.generated generated on Mon Apr 06 18:12:40 CST 2020.-->
    <!--@Table sys_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Apr 06 18:12:40 CST 2020.-->
    id, create_time, update_time, username, `name`, `password`
  </sql>
</mapper>